---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    I’m a curious methodology and statistics student with eclectic interests. 
    In my studies, I am critically minded, ready to admit my own mistakes, and hard-working. 
    I have no problems with being a beginner in something, and I embrace the challenges 
    and learning opportunities that come with that.
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Methodology & Statistics for the Behavioural, Biomedical & Social Sciences (ReMa)"
      subtitle="2022 to 2024 at Utrecht University, Utrecht, The Netherlands"
    >During this selective two-year research master, I learned all aspects of number crunching: the foundations of statistics, applied programming skills, and zoned in on a variety of  techniques, such as Bayesian statistics, Causal Inference and Multilevel Modelling. I am currently specializing in machine learning and front-end development! I am also working on my thesis, in which I model ordinal estimates of quantitative measures in time-dependent processes.
    </TimeLineElement> 
    <TimeLineElement
      title="Psychology (Honours)"
      subtitle="2016 to 2021 at Rijksuniversiteit Groningen, Groningen, The Netherlands"
    >Average of 7.9. I specialized in two other subjects: artificial intelligence and cognitive neurosciences. My thesis, on the influence of object size on visual processing, was awarded with an 8.5. </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Research Assistent for ASReview"
      subtitle="2023 to now at Utrecht University, Utrecht, The Netherlands"
    >
      ASReview is a system that uses machine learning to help select relevant papers for literature reviews. I am currently comparing various ways of calculating inter-rater reliability. Several raters can rate scientific papers as either relevant or irrelevant. I look to which degree these different raters coincide, and how we can calculate this degree in the best way.
    </TimeLineElement>
    <TimeLineElement
      title='Research Assistent Bella Struminskaya "Extracting health information using GDPR requests"'
      subtitle="2023 to now at Utrecht University, Utrecht, The Netherlands"
    >
      I was responsible for writing a python script to remove privacy sensitive information from data. I am also responsible for other tasks, such as data entry for questionnaires and researching platforms seniors use to keep tabs on their health.
    </TimeLineElement>
    <TimeLineElement
      title="Student assistent Statistics 1A and Statistics 1B"
      subtitle="2021 to 2022 at Rijksuniversiteit Groningen, Groningen, The Netherlands"
    >
      I was responsible for answering student questions during tutorials about R and SPSS. 
    </TimeLineElement>
    <TimeLineElement
      title="Shopkeeper at the Methodology Shop"
      subtitle="2021 to 2022 at Rijksuniversiteit Groningen, Groningen, The Netherlands"
    >
      I was a statistical consultant for the faculty. Students from bachelor's to PhD level came to me for help with planning research, doing analyses, and using statistical software. 
    </TimeLineElement>
    <TimeLineElement
      title='Research Assistent "Replication in Action: Understanding the Replication Crisis"'
      subtitle="2021 to 2022 at Rijksuniversiteit Groningen, Groningen, The Netherlands"
    >
      I was responsible for data analysis. I was also resposible for both interviewing and qualitatively coding interviews with researchers who were replicating existing studies. 
    </TimeLineElement>
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      Cambridge Profiency English
    </li>
  </ul>

<div class="mb-5">
  <div class="text-3xl w-full font-bold">Skills</div>
</div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>R (including tidyverse, ggplot, and statistical packages)</li>
    <li>Python (including XGBoost, scikit-learn, pytorch and Pandas)</li>
    <li>Julia</li>
    <li>SPSS</li>
    <li>SQL</li>
    <li>Finished CS-courses on C, C++, Java, and algorithms & data structures</li>
    <li>HTML / CSS / JavaScript / React.JS!</li>
    <li>Driving License (B, automatic transmission)</li>
  </ul>
</BaseLayout>
