---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
import createSlug from "../lib/createSlug"


---

<BaseLayout sideBarActiveItemID="home">
  <div class="pb-12 mt-5">
    <div class="text-xl py-1">Nice to meet you!</div>
    <div class="text-5xl font-bold">I'm Maas van Steenbergen</div>
    <div class="text-3xl py-3 font-bold">Data Scientist & Statistician</div>
    <div class="py-2">
      <text class="text-lg">
        I’m a driven methodology and statistics student graduating in June. I am critically minded, ready to own my mistakes, and hard-working. I love learning new things and embrace challenges.
      </text>
    </div>
    <div class="mt-8">
      <a class="btn" href="mailto:mvansteenbergen@proton.me" target="_blank"> Shoot me an e-mail!</a>
      <a href="https://github.com/MvanSteenbergen" target="_blank" class="btn btn-outline ml-5">
        Find me on GitHub!
      </a>
    </div>
  </div>

  <div>
    <div class="text-3xl w-full font-bold mb-2">My last projects</div>
  </div>

    <HorizontalCard
    title="Check out my thesis :)"
    img="/time_series_plot.png"
    desc="I am writing my thesis on the relationship between ordinal estimates of psychological measurements and quantitative structures. See my progress on GitHub!"
    url="https://github.com/MvanSteenbergen/MasterThesisRQA"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Machine Learning"
    img="/xgboost.png"
    desc="I am contributing to a group project where we use XGBoost to classify noisy signals from noise alone."
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Full-Stack Development"
    img="/fullstackopen.png"
    desc="I am working through the venerated Full Stack Open MOOC by Helsinki University. See my progress on GitHub!"
    url="https://github.com/MvanSteenbergen/FullStackOpen"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Currently contributing to ASReview"
    img="/asreview.jpg"
    desc="I am calculating the inter-rater reliability for ASReview!"
    url="https://github.com/asreview"
    badge="FOSS"
  />

</BaseLayout>
