---
import BaseLayout from "../layouts/BaseLayout.astro";
import HorizontalCard from "../components/HorizontalCard.astro";
---

<BaseLayout title = "Projects" sideBarActiveItemID="projects">
  <div>
    <div class="text-3xl w-full font-bold mb-5">What I'm Currently Working On</div>
  </div>

  <div>
    <div class="text-2xl w-full font-bold mb-5">Academics</div>
  </div>

  <HorizontalCard
    title="Check out my thesis :)"
    img="/time_series_plot.png"
    desc="I am writing my thesis on the relationship between ordinal estimates of psychological measurements and quantitative structures. See my progress on GitHub!"
    url="https://github.com/MvanSteenbergen/MasterThesisRQA"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Machine Learning"
    img="/xgboost.png"
    desc="I recently finished contributing to a group project where we use XGBoost to classify noisy signals from noise alone. Our end project got rewarded with a 9 average!"
    url="#"
  />
  <div class="divider my-0"></div>
  <HorizontalCard
    title="Full-Stack Development"
    img="/fullstackopen.png"
    desc="I recently finished the first seven parts of the venerated Full Stack Open MOOC by Helsinki University. I learned a lot about databases, how those connect to the back-end, making the back-end talk to the front-end, functional programming, React, and Node. I got a perfect score and have finished two extensions, so I got 2 ECTS extra. Hopefully, I'll continue working on it soon."
    url="#"
  />

    <div>
    <div class="text-2xl w-full font-bold mb-5">Work</div>
  </div>


  <HorizontalCard
    title="Currently contributing to ASReview"
    img="/asreview.jpg"
    desc="I am calculating the inter-rater reliability for ASReview!"
    url="https://github.com/asreview"
    badge="FOSS"
  />
  <HorizontalCard
    title="Coding "
    desc="I am coding interview questions for dr. Struminskaya"
    url="#"
  />
</BaseLayout>
